@import "font.css";

:root {
  --orange: #ff5300;
  --orange-bg: #fff7f4;
  --black: #373737;
  --dark-bg: #18191a;
  --dark-view-1: #242526;
  --dark-view-2: #3a3b3c;
  --gray: #7b7b7b;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
